<div class="jumbotron">
    <h1>Payload API</h1>
    <p class="lead">A small JSON-based web API which filter that JSON data and return a few fields. <br/><a href="http://mi9-coding-challenge.herokuapp.com/sample_request.json">Request JSON</a><br/><a href="http://mi9-coding-challenge.herokuapp.com/sample_response.json">Response JSON</a></p>
    <p><a href="/Help/Api/POST-api-Payloads" class="btn btn-primary btn-lg">Payload API Help &raquo;</a></p>
</div>

